<section class="footer">
    <div class="container">
    <div class="row no-gutters text-center justify-content-around justify-content-center text-justify">
        <div class="col-md-3">

            <h5>Forex Service</h5><br>
            <ul>
                <li><a routerLink="aboutCompany" class="nav-link">About Company</a></li><br>
                <li><a routerLink="ourTeam" class="nav-link">Our Team</a></li><br>

            </ul>
        </div>

        <div class="col-md-3">
            <h5>Money Transfer</h5><br>
            <ul>
                <li><a routerLink="money-transfer" class="nav-link">Send Money Online</a></li><br>
             </ul>
        </div>

   </div>

 </div>

   <section class="copyright">
    <div class="copyright ">
               <div class="row no-gutters text-center">
                   <div class="col-lg-6">
                       <h6 class="text-white">Copyright ©2022 All rights reserved | </h6>
                   </div>
                   <div class="col-lg-6">
                       <h6 class="text-white">Terms&Condition | Register | privacy </h6>
                   </div>
               </div>
           </div>
