<section class="section5">
    <div class="container">
        <h2 class="text-center text-justify" style="font-weight:bold;">Security</h2>
        <h2 class="text-center text-justify" style="font-weight:bold;">Protecting you and your money</h2>
        <p class="p-5">Every month, our customers trust us to move over £6 billion of their money. 
            Here are some of the important ways we protect them.We’re committed to keeping your personal data safe,
             and we’re transparent in how we collect, process, and store it. </p>
        <div class="row justify-content-center mb-2 text-center">
            <div class="col-md-4 mb-2">
                <div class="card ">
                    <div class="card-body">
                    <i class="fa fa-2x fa-globe" ></i>
                    <h6 class="card-title">Safeguarded with leading bank</h6>
                    <p class="card-text">We hold your money with established financial institutions </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card" style="background-color:#FAFAFA;">
                    <div class="card-body">
                    <i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i>    
                    <h6 class="card-title">Data protection</h6>
                    <p class="card-text">We’re committed to keeping your personal data safe, and we’re transparent. </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-body">
                    <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                    <h6 class="card-title">Dedicated anti-fraud team</h6>
                    <p class="card-text">We work round the clock to keep your account and money protected from fraud. </p>
                </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            
            <div class="col-md-4 mb-2">
                <div class="card"style="background-color:#FAFAFA;">
                    <div class="card-body">
                        <i class="fa fa-2x fa-phone-square" aria-hidden="true"></i>
                    <h6 class="card-title">Extra-secure transactions</h6>
                    <p class="card-text">We use 2-factor authentication to protect your account and transactions. </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card ">
                    <div class="card-body">
                  <div class="card-img-top"><i class="fa fa-2x fa-paper-plane" aria-hidden="true"></i></div>
                    <h6 class="card-title" > Audited regularly</h6>
                    <p class="card-text">We make sure your money’s secure, and that Wise is financially stable.</p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card"style="background-color:#FAFAFA;">
                    <div class="card-body">
                        <i class="fa fa-2x fa-credit-card" aria-hidden="true" text-center></i>
                    <h6 class="card-title">Regulated around the world</h6>
                    <p class="card-text">We’re regulated by authorities around the world. This includes the FCA in the UK</p>
                </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2"><div class="col-lg-3"><button type="button" class="btn btn-outline btn-block" style="background-color:#e9a447;font-weight: bold;">Read
                More</button></div></div>
    </div>
</section>
<section class="section2">
    <div class="container">
    <h2 class="text-center"style="font-weight:bold">Our Features</h2>
    <p class="text-center text-justify" style="padding:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
        sequi, eos mollitia amet fugiat, nisi distinctio <br>
        consequatur animi accusamus cum sint quas cumque dolor?</p>
        <div class="row" >
            <div class="col-md-4  mt-5 a" >
                <i class="fa fa-2x fa-wifi center"></i>
                <h5>Convert and hold currencies.</h5>
                <p>We haven’t reached India with our <br>currency accounts feature yet.</p>
                <br>
                <i class="fa fa-2x fa-music center" aria-hidden="true"></i>
                <h5 >Spend abroad without the hidden fees.</h5>
                <p>We haven’t reached India with our <br>debit card feature yet.</p>
            </div>
            <div class="col-md-4"><img src="assets/images/send.jpg"></div>
            <div class="col-md-4 mt-5">
                <i class="fa fa-2x fa-address-card center" aria-hidden="true"></i>
                <h5>Send money cheaper and easier </h5>
                <p>Send money at the real exchange <br>rate with no hidden fees.</p>
                <br>
                <i class="fa fa-2x fa-cloud center" aria-hidden="true"></i>
                <h5>Receive payments with account details.</h5>
                <p>We haven’t reached India with our<br> account details feature yet.</p>
            </div>

            
            