<!--User UI-->

<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
          <a href="#" class="navbar-brand">Forex Service </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#CollapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="CollapsibleNavbar">
              <ul class="navbar-nav text-center ml-auto">
               <li class="nav-item">
                      <a routerLink="" class="nav-link">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="exchange-currancy" class="nav-link">EXCHANGE CURRANCY</a>
                </li>

                  <li class="nav-item px-4">
                    <div class="dropdown">
                      <button type="button" class="btn btn-warning"><a routerLink="contact" class="nav-link">REGISTER</a></button>
                      <div class="dropdown-content">
                      <a routerLink="receipient">Receipient</a>
                     <a routerLink="account">Bank Account</a>
                     <a routerLink="money-transfer">Transfer Money</a>
                    </div>
                    </div>
                </li>

                   <li class="nav-item px-4">
                      <div class="dropdown">
                          <button type="button" class="btn btn-warning"><a routerLink="signIn" class="nav-link">Login</a></button>
                          <div class="dropdown-content">
                            <a target="_blank" href="assets/images/UI/login.html" >ADMIN LOGIN </a></div>
                        </div>
                  </li>


              </ul>

         </div>

          </div>
          </nav>
</header>






