<section class="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5"><img src="assets/images/aaa.png"></div>
          
            <div class="col-md-6">
                    <h2 style="font-weight: bold;"></h2><br>
                    <h2 style="margin-top:100px ;font-weight: bolder;"></h2><br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim pariatur ut blanditiis asperiores
                    corrupti perspiciatis id nemo doloremque numquam iusto quaerat, esse delectus laborum velit
                    illum perferendis? Atque, beatae ab Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae consequuntur debitis harum odit iste tempore illum cupiditate fugiat voluptatibus cumque veritatis officiis odio culpa praesentium, ab nihil assumenda nobis possimus?</p>
            </div>
        </div>
    </div>
    </section>
    <section class="section4">
        <div class="container">
            <div class="row">
                <div class="col-md-6"style="padding-top:120px">
                    <h2 style="font-weight: bold;">Send Money Online</h2><br>
                    <p>Log in or sign up and create
                        your profile for free to send
                        money online.
                        
                        Learn more
                    </p>

                    <h6>Apple ios 7 & up</h6>
                    <h6>Apple Health Kit</h6>
                    <h6>Stainless Steel Case</h6>
                    <h6>Location Assistance</h6><br>
                    <button type="button" class="btn btn-outline" style="background-color:#e9a447;font-weight: bold;">Read More</button>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/phone.webp" class="imagePhone">
                </div>
            </div>
        </div>
    </section>

    