<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container" style="color: white;">
     <p>   A Forex Currency Exchange is a software application or website that provides for the easy conversion of currency values based on present-day exchange rates. It can quickly convert the value of one currency to another, such as dollars to euros, or euros to pounds, and back again.
	Currency conversion is of practical use to tourists who travel abroad, to businesses who do business overseas or are involved in imports and exports, and to FX traders.<br>
  Customers can use various forms of exchange control strategies,
   but they must carefully consider each one and its effectiveness,
   given its economic and political landscape. However,
   the Forex Service encourages the removal of exchange controls as they usually discourage international trade,
    inhibit the expansion of world trade, and distort the functioning of an efficient global trade market.
</p>
        </div>
        </nav>
        </header>
