<!--User UI-->

<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
          <a href="#" class="navbar-brand">Forex Service </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#CollapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="CollapsibleNavbar">
              <ul class="navbar-nav text-center ml-auto">
              <!---  <li class="nav-item">
                      <a routerLink="admin" class="nav-link">HOME</a>
                  </li>-->


               <!--<li class="nav-item">
                    <a routerLink="receipient" class="nav-link">ADD RECEIPIENT</a>
               </li>-->

             <li class="nav-item" >
                <a routerLink="account" class="nav-link">ADD BANK ACCOUNT</a>
            </li>

                <!---  <li class="nav-item" *ngIf="(LoggedUserEmail | async) as LoggedUserEmail">
                      <a routerLink="money-transfer" class="nav-link">MONEY TRANSFER</a>
                  </li>-->


                  <li class="nav-item" >
                      <a routerLink="exchange-currancy" class="nav-link" >EXCHANGE CURRANCY</a>
                  </li>

                  <li class="nav-item">
                    <a routerLink="contact" class="nav-link">REGISTER</a>
                </li>


                  <li class="nav-item">
                     </li>

                  <li class="nav-item px-4">
                      <div class="dropdown">
                          <button type="button" class="btn btn-warning"><a routerLink="signIn" class="nav-link">Login</a></button>
                          <div class="dropdown-content">
                      <!-- <a routerLink="adminLogin" class="nav-link">ADMIN LOGIN </a> -->


                      </div>
                        </div>
                  </li>

                  <!-- <li class="nav-item px-2">
                      <div class="dropdown">
                          <button type="button" *ngIf="loginUser" class="btn btn-warning"  (click)=Logout()>LOGOUT</button>

                <a routerLink="Logout"  class="nav-link"></a>

                   </div>
                  </li> -->


              </ul>

         </div>

          </div>
          </nav>
</header>

  <section class="section1">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <h3 style="color:#e9a447;">Send money 24/7 <br> around the world</h3><br>
              <p>Whether you need to transfer money to friends or family across the globe,
                  Buy or Sell Foreign Currency or Transfer Money Abroad from India at Live Exchange Rate</p>
              <button type="button" class="btn btn-outline" style="background-color:#e9a447;" ><a routerLink="aboutCompany" class="nav-link"  style="color:white;width:20%;height:20%;">Learn More</a></button>
             <!-- <button type="button" class="btn btn-outline">Watch</button>-->
          </div>
          <div class="col-md-4">
            <img src="assets/images/phone.webp" style="width:60%;height:70%">
          </div>
      </div>





